@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Rubik+Glitch&family=Yanone+Kaffeesatz&display=swap')

body 
    padding: 0px
    margin: 0px

.content-body
    margin: 0px
    padding: 0px
    background: #6FDB42
    font-family: 'Manrope'

.wrapper 
    max-width: 1400px
    width: 100%
    margin: 0 auto
    background: #6FDB42
    padding-top: 20px
    h2 
        color: #fff 
        text-align: center

// fhoto-block

.fhoto
    height: 35vh
    display: flex
    justify-content: center
    align-items: center
    background-color: #6FDB42
    padding: 20px

.mobile-block
    width: 210px
    height: 210px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background-color: #fff

.border-mob
    position: relative
    border: 0
    height: 200px
    width: 200px
    border-radius: 100%
    display: flex
    align-items: center
    justify-content: center

.border-mob:before 
  content: " "
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  border-radius: 100%
  border: 3px dashed #6FDB42
  animation: rotate 60s linear infinite
  
@keyframes rotate 
  0%  
    transform: rotate(0deg) 
  100%  
    transform: rotate(360deg) 
    
.fhoto-block
    height: 180px
    width: 180px
    border-radius: 100%
    overflow: hidden
    img 
        width: 100%
        height: 100%

// logo-block

.logo-block 
    // padding: 50px
    display: flex
    min-height: 50px
    justify-content: center
    background-color: #fff
    // margin-bottom: 20px
.logo 
    width: 250px
    img 
        max-width: 100%

.menu 
    background-color: #fff
    display: flex
    justify-content: center
    align-items: center
    min-height: 50px
    padding: 20px
    font-family: 'Manrope'
    ul 
        padding: 0px
        margin: 0px
        display: flex
        flex-wrap: wrap
        li 
            list-style-type: none
            font-size: 18px
            padding: 10px
            a 
                text-decoration: none 
                background-color: #6FDB42
                color: #fff
                display: flex
                justify-content: center
                align-items: center
                padding: 5px 10px 5px 10px
                border-radius: 5px

@media(max-width: 720px) 
    .menu
        padding: 10px
        margin: 20px 0px 20px 0px
        ul
            li
                width: 100%
                text-align: center


.content 
    display: flex
    padding: 10px
    flex-wrap: wrap
    justify-content: space-between

p 
    margin: 0px
    padding: 0px

.ru 
    width: 45%
    padding: 20px
    background-color: #fff
    border-radius: 5px
    margin: 10px

.en 
    width: 45%
    padding: 20px
    background-color: #fff
    border-radius: 5px
    margin: 10px

@media(max-width: 1024px) 
    .ru 
        width: 100%
    .en 
        width: 100%

